@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.ai-music-container {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 100%;
  //background: rgba(255, 255, 255, 20%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 헤더를 컨테이너의 맨 위에 위치시킵니다. */
  align-items: center;
  //padding-top: 50px; /* 헤더와 상단 간격을 조절합니다. */
  //border-bottom-left-radius: 100px;
  //border-top-left-radius: 100px;

  .head {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: auto 0;

    span {
      font-weight: bold;
      font-size: 40px;
      font-family: 'SBAggroB', serif;
      text-shadow: 0 0 20px #ababab;
    }
    .loading-img {
      width: 500px;
      height: 500px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;

    .returnBtn {
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //
      //width: 100px;
      //height: 30px;
      //background: #9b3535;
      //margin-top: 10px;
      //
      //cursor: pointer;
      color: white;
      font-weight: bold;
    }
    .downloadBtn {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }


}

.ai-music-header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
  //background: #9b3535;
  width: 100%;
  font-family: 'SBAggroB', sans-serif;
  text-shadow: 0 0 20px #ababab;
}

.ai-music-div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 40%;
  margin-top: 300px;
  padding-top: 30px;
  background: rgba(40, 44, 52, 0.33);
  border-radius: 50px;
  position: absolute;

  .set-duration{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;

    .duration-text {
      font-family: 'SBAggroB', serif;
      font-size: 25px;
    }
    .music_duration {
      width: 300px;
      margin-bottom: 20px;
    }
  }
  .music_prompt {
    margin-bottom: 20px;
    border-radius: 0 0 20px 20px;
  }
}

@keyframes slide-up-invitation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down-invitation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.slide-up {
  animation: slide-up-invitation 1s;
}

.slide-down {
  animation: slide-down-invitation 1s;
}