
.modify-btn {
  font-family: "Noto Sans KR", sans-serif;
  width: 200px;
  height: 60px;
  border: 0;
  background: #489a58;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: auto;
}