
.quit-cancel-btn {
  font-family: "Noto Sans KR", sans-serif;
  width: 200px;
  height: 60px;
  border: 0;
  background: #e18544;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: auto;
  transition-duration: 0.2s;

  &:hover {
    background: #b66a36;
  }
}