@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Oswald:wght@500&family=Pacifico&family=Protest+Riot&display=swap');
@font-face {
  font-family: 'KNUTRUTHTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KNUTRUTHTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.title1{
  text-align: center;
  .h1-title{
    color: #819FF7;
    font-family: 'KNUTRUTHTTF';
    font-size: 40px;
  }
  .span-title1{
    color: #F2F2F2;
    font-family: "Protest Riot", sans-serif;
    font-size: 35px;
  }
  .p-title1{
    color: white;
    font-size: 20px;
  }
}

.title3{
  margin: 0 0 365px 0;
  .h3-title{
    color: white;
    margin: 0 0 355px  0;
    font-family: 'KNUTRUTHTTF';
  }
}

/* 위에 2개 정렬 */
.top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 110px 10px 950px 10px;
  position: fixed;
  /* 스크롤에 따라 영향을 받지 않도록 설정 */

  transform: translate(0, 0);

}
/* 아래에 3개 정렬 */
.bottom {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 100px 0 200px 0;
  position: fixed;
  /* 스크롤에 따라 영향을 받지 않도록 설정 */
  transform: translate(0, 0);
}
.box {
  width: 300px;
  //border: black solid 3.5px;
  overflow: hidden;
  background: url("https://cdn.pixabay.com/photo/2023/08/26/13/53/paper-8215016_1280.jpg");
  box-shadow: 0 0 20px #848484;
  padding: 20px;
  font-size: 16px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin: 750px 30px 10px 10px;
  color: whitesmoke;

  .box-tool {
    width: 200px;
    height: 150px;
    box-shadow: 0px 0px 20px black;
    background: #F7F2E0;
    margin: 0 0 0 35px;

    .box-tool {
      text-align: center;

      .img3 {
        width: 50%; // 이미지 크기 조절은 필요에 따라 변경 가능
        height: auto;
        border-radius: 50%;
      }
    }
  }

  .img {
    width: 10%;
    height: auto;
    border-radius: 50%;
    margin: 10px;
    align-items: center;
  }

  .heading {
    font-size: 30px;
    font-family: 'Lobster', sans-serif;
    margin: 10px 0;
  }

  .data {
    color: #666;
    font-size: 14px;
    font-family: 'KNUTRUTHTTF';
    margin-bottom: 10px;
    color: white;
  }

  .date {
    margin-right: 10px;
  }

  .texts {
    font-family: 'KNUTRUTHTTF';
    font-size: 20px;
    line-height: 1.5;
    color: white;
  }

}