
.playlist-container {
  width: 96%;
  height: 314px;
  max-height: 314px;
  background: white;
  overflow: hidden;

  .table-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;

    .table-row {
      width: 100%;
      display: flex;
      align-items: center;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
      padding: 8px 17px 8px 8px;

      div {
        flex: 1;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 5px;
      }
    }

    /* 짝수 번째 table-data 요소 */
    .table-data:nth-of-type(even) {
      background-color: rgba(211, 211, 211, 0.31);
    }

    /* 홀수 번째 table-data 요소 */
    .table-data:nth-of-type(odd) {
      background-color: rgba(246, 251, 253, 0.41);
    }


    .scroll-container {
      height: 449px;
      //overflow-y: scroll;

      .add-playlist {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70px;

        .add-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #6db27a;
          border-radius: 50%;
          color: #ffffff;
          font-weight: bold;
          width: 60px;
          height: 60px;
          font-size: 60px;
          cursor: pointer;
          margin-top: 15px;
        }
      }
      .table-data {
        display: flex;
        align-items: center;
        padding: 8px;

        div {
          flex: 1;
          text-align: center;
          margin-bottom: 10px;
          margin-top: 10px;
        }

        &:hover {
          background-color: #dedddd;
        }
      }
    }

  }

  .table-data:last-child {
    border-bottom: none;
  }
}
