
.loginBtn {
  width: 314px;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  border: 0;
  background: #282c34;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  transition-duration: 0.2s;

  &:hover {
    background: #404652;

  }
}