@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
@font-face {
  font-family: 'KNUTRUTHTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KNUTRUTHTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
header
{
  width: 100%;
  height: 100%;
  background: url(https://cdn.pixabay.com/photo/2014/12/17/22/36/piano-571968_1280.jpg);
  background-size: cover;
  top: 0;
  position: fixed;
  z-index: -1;
  font-size: 90px;
  font-weight: bold;
}
.head2 {
  text-align: center;
  color: #ffffff;
  background: url(https://cdn.pixabay.com/photo/2014/12/17/22/36/piano-571968_1280.jpg);
  background-size: cover;
  font-family: 'Playfair Display', serif;
  position: fixed;
  font-size: 30px;
}
.webinfoContainer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* 흐린 검정색 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  padding: 20px; /* 내용과 테두리 사이 간격 */


  @keyframes slide-up-invitation {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-down-invitation {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &.slide-up {
    animation: slide-up-invitation 1s;
  }

  &.slide-down {
    animation: slide-down-invitation 1s;
  }

  h2 {

    .h3-title{
      font-size: 35px;
      font-family: 'KNUTRUTHTTF';
      color: #5882FA;
      margin: 50px 0 0 0;
    }
    .span-title{
      font-family: 'Lobster', sans-serif;
      font-size: 35px;
      color: #D8D8D8;

    }
    font-size: 20px;
    font-family: 'KNUTRUTHTTF';
    color: #fff; /* 원하는 색상으로 조절 */
    order: -1; /* h2를 위로 올리기 위해 추가 */
    margin: -50px 580px 650px 600px;
    white-space: nowrap;
    position: fixed;


  }
  .web1{
    width: 350px;
    border: 1px solid white;
    flex-direction: column;
    background: #CECEF6;
    border-radius: 15px;
  }
  .web-img1{
    height: 250px;
    display: flex;
    background: #5882FA;
    border-radius: 15px;
  }
  .web-head1{
    background: #61dafb;
    height: 100px;
    border-radius: 15px;
  }
  .web-main1{
    height: 60px;
    background: #d0ece2;
    border-radius: 15px;
  }
  .web-footer1{
    height: 50px;
    background-color: thistle;
    border-radius: 15px;
  }
}