@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
header
{
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  position: fixed;
  z-index: -1;
  font-size: 90px;
}
.head2 {
  text-align: center;
  color: #ffffff;
  font-family: 'Lemon', serif;
  font-size: 1.2em;
}
.webinfoContainer {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 100%;
  background: #cfb3de;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;

  @keyframes slide-up-invitation {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-down-invitation {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.slide-up {
  animation: slide-up-invitation 1s;
}
.slide-down {
  animation: slide-down-invitation 1s;
}