@font-face {
  font-family: '양진체';
  src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
//검색 폼
.w {
  width: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
  align-items: flex-start; // 위에 배치하도록 설정
  padding: 10px;
  height: 40vh;
  margin-bottom: 80px;
}
.search-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬을 위해 수정 */
  margin-top: 10px; /* 필요한 여백 조정 */
}

.search {
  width: 100%;
  display: flex;
  align-items: center; /* 세로 중앙 정렬을 위해 추가 */
}

.searchTerm {
  flex: 1;
  border: 3px solid #FE2E2E;
  border-right: none;
  padding: 5px;
  height: 50px; // 검색 바 높이 조절
  border-radius: 5px 0 0 5px;
  outline: none;
  font-family: '양진체';
  font-size: 20px;
  color: #6E6E6E;

  &:focus {
    color:#000000 ;
  }
}
.searchButton {
  width: 70px; // 버튼 너비 조절
  height: 65px; // 버튼 높이 조절
  border: 1px solid #FE2E2E;
  background: #FE2E2E;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}