
.mypageContainer {
  font-family: "Noto Sans KR", sans-serif;
  width: 1700px;
  margin: 0 auto;
  height: 100%;
  background: rgb(227, 227, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  border-radius: 100px 0 0 100px;
  box-shadow: 0 0 1px #23252c;



  @keyframes slide-up-invitation {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-down-invitation {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.slide-up {
  animation: slide-up-invitation 1s;
}
.slide-down {
  animation: slide-down-invitation 1s;
}