.user-total-container {
  width: 96%;
  height: 400px;
  max-height: 400px;
  background: white;
  //overflow: auto;

  .table-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;

    .table-row {
      display: flex;
      align-items: center;
      padding: 8px;
      font-weight: bold;
      border-bottom: 1px solid #ccc;

      div {
        flex: 1;
        text-align: center;
      }
    }

    .scroll-container {
      overflow-x: hidden;
      overflow-y: scroll;

      .table-data {
        display: flex;
        align-items: center;
        padding: 8px;

        div {
          flex: 1;
          text-align: center;
        }

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }

  }

  .table-data:last-child {
    border-bottom: none;
  }
}
