
.GoogleloginBtn {
  width: 314px;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  border: 0;
  background: #eeeeee;
  color: black;
  border-radius: 5px;
  font-weight: bold;

  display: flex;
  justify-content: left;
  align-items: center;
  transition-duration: 0.2s;

  &:hover {
    background: #e5e3e3;
  }

  .googleIcon {
    width: 100px;
    margin-right: 15px;

    .googleImg {
      width: 30px;
      height: 30px;
    }
  }

}