
.post-message-info-container {
  width: 96%;
  height: 60%;
  min-height: 370px;
  //width: 600px;
  //height: 214px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: white;
  margin-top: 20px;
  div {
    border-radius: 0;
  }
  .tHead {
    th{
      font-weight: bold;
      font-size: 30px;
    }

  }
  .tBody {

  }
}
