
.inquiry-info-container {
  //width: 70%;
  width: 600px;
  height: 214px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: white;
  margin-top: 20px;
  div {
    border-radius: 0;
  }
  .tHead {
    th{
      font-weight: bold;
    }

  }
  .tBody {

  }
}