
.KakaologinBtn {
  width: 314px;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  border: 0;
  background: #ffdc2b;
  color: black;
  border-radius: 5px;
  font-weight: bold;

  display: flex;
  justify-content: left;
  align-items: center;

  margin-bottom: 10px;

  .kakaoIcon {
    width: 100px;
    margin-right: 9px;

    .kakaoImg {
      width: 30px;
      height: 30px;
    }
  }

}