.conversionContainer {
  width: 100%;
  height: 100%;
  background: bisque;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
}
.wrap {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center; /* 가운데 정렬을 위해 추가 */
  align-items: center; /* 가운데 정렬을 위해 추가 */
  height: 100vh; /* 높이를 화면 전체 높이로 설정 */
}
//검색 폼
.w {
  width: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
  align-items: flex-start; // 위에 배치하도록 설정
  padding: 10px;
  height: 40vh;
}

.search-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬을 위해 수정 */
  margin-top: 20px; /* 필요한 여백 조정 */
}

.search {
  width: 100%;
  display: flex;
  align-items: center; /* 세로 중앙 정렬을 위해 추가 */
}

.searchTerm {
  flex: 1;
  border: 3px solid #FE2E2E;
  border-right: none;
  padding: 5px;
  height: 50px; // 검색 바 높이 조절
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #6E6E6E;

  &:focus {
    color:#000000 ;
  }
}

.searchButton {
  width: 70px; // 버튼 너비 조절
  height: 65px; // 버튼 높이 조절
  border: 1px solid #FE2E2E;
  background: #FE2E2E;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
//업로드 파일 scss
.file-btn{
  width: 550px;
  height: 350px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #2E2E2E;
  background-color: #fff;
  border: 1.5px dashed #AC58FA;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.file-btn:hover{
  color: #DA81F5;
  background-color: #fff;
}
.file-btn span{
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #8181F7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #E2A9F3;
}
.selected-file{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #CECEF6;
  border: 1px solid #F8E0EC;
  border-radius: 20px;
  margin-top: 20px;
}
.selected-file p{
  font-size: 13px;
  font-weight: 500;
  margin-left: 15px;
}
.selected-file button{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.selected-file button:hover{
  color: #ffffff;
  background-color: #A9BCF5;
}