
.conversion-page {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
      font-weight: bold;
      font-size: 40px;
    }
  }


  .form {
    display: flex;
    width: 100%;
    height: 100%;
    //background: yellow;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sendButton:hover{
      cursor: pointer;
    }
    .youtube-link {
      width: 50%;
      height: 5%;
    }
    .error.none{
      width: 50%;
      display: none;
    }
    .error{
      width: 50%;
    }
  }
  .form.none{
    display: none;
  }



  @keyframes slide-up-invitation {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-down-invitation {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}



.slide-up {
  animation: slide-up-invitation 1s;
}

.slide-down {
  animation: slide-down-invitation 1s;
}