
.register-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 150;
  font-family: "Noto Sans KR", sans-serif;

  .register-modal-content {
    background-color: #ffffff;
    width: 700px;
    height: 600px;
    padding: 15px;
    border-radius: 10px;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    .registerModalCloseBtn {
      margin-left: auto;
      border: 0;
      background: #ffffff;
      cursor: pointer;
      font-size: 20px;
    }
    .register-modal-title {
      margin-bottom: 20px;
    }

    .register-div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .register-input-container{
        display: flex;
        justify-content: left;
        //align-items: center;
        flex-direction: column;

        .input-account,
        .input-password,
        .input-password2,
        .input-nickname,
        .input-email{
          width: 300px;
          height: 40px;
          padding-left: 10px;
          font-family: "Noto Sans KR", sans-serif;
          border: 1px solid #8d8e91;
          border-radius: 5px;
          font-size: 20px;
          margin-bottom: 10px;
        }

        .exDiv {
          display: flex;
          justify-content: left;
          align-items: center;
          text-align: center;
          margin-bottom: 5px;

          .red {
            color: red;
            margin-right: 5px;
          }
        }

      }

      .register-profile-img-container {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        width: 200px;
        height: 386px;
        margin-left: 60px;


        .imgtest {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          cursor: pointer;
          margin-bottom: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid gray;
        }
        .img-title {
          font-size: 17px;
          padding: 5px;
          margin-bottom: 20px;
          background: #d3d3d3;
          width: 60%;
          border-radius: 30px;
          text-align: center;
        }

      }
    }


  }


}