@import '~bootstrap/scss/bootstrap';

.CrescendoMain {
  width: 1500px;
  max-width: 1500px;
  min-width: 800px;
  height: 100%;
  //background: bisque;

  display: flex;
  justify-content: left;
  align-items: start;
  margin-left: 100px;

  font-family: "Noto Sans KR", sans-serif;

}