

.post-message-info-container {
  width: 96%;
  height: 500px;
  max-height: 500px;
  background: white;
  overflow: hidden;

  .table-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;

    .table-row {
      width: 99%;
      display: flex;
      align-items: center;
      padding: 8px;
      font-weight: bold;
      border-bottom: 1px solid #ccc;

      div {
        flex: 1;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 5px;
      }
    }

    .pm-scroll-container {
      height: 449px;
      overflow-x: hidden;
      overflow-y: scroll;

      .table-data {
        display: flex;
        align-items: center;
        padding: 8px;

        .status {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        div {
          flex: 1;
          text-align: center;
          margin-bottom: 5px;
          margin-top: 5px;
        }

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }
}
