
.addallplaylist-btn {
  border: 0;
  background: #6db27a;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  color: white;
  font-weight: bold;
  margin: 15px auto 0;
  transition-duration: 0.2s


;

  &:hover {
    background: #4d7c56;
  }
}